body {
	margin: 0;
	background-image: url('img/bg.jpg');
	background-attachment: fixed;
	color: #efefef;
    /*font-family: 'Open Sans', sans-serif;*/
	font-family: 'PT Mono', monospace;
    font-size: 17px;
	background-color: #272727;
}
h1 {
	font-size: 44px;
	font-weight: 400;
	color: #39a5f1;
	margin-bottom: 20px;
}
h2 {
	font-size: 20px;
	font-weight: 400;
	color: #39a5f1;
	margin-bottom: 0px;
}
h3 {
	margin-top: 0px;
	font-size: 15px;
}
.dark {
	background-color: rgba(255, 255, 255, 0.1);/*rgba(25, 29, 33, 0.7);*/
}
article{
	text-align: center;
}
.quote {
	-webkit-text-stroke-color: #272727;
	-webkit-text-stroke-width: 1px;
	font-size: 30px;
}
#scroll_up {
	color: rgba(255, 255, 255, 0.3);
	text-decoration: none;
	position: fixed;
	bottom:75px;
	right:40px;
}
#scroll_up:hover {
	color: rgba(255, 255, 255, 0.7);
}
.wrapper {
	padding-top: 10px;
	padding-bottom: 80px;
	margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
	width: 950px;
}

/********** LOGO **********/
h1.logo {
	font-size: 44px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5px;
}
h1.name {
	color: #ddd;
	margin-bottom: 25px;
	margin-top: 50px;
}
h1.profession {
	color: #fff;
	margin-bottom: 40px;
	margin-top: 0px;
}
/**************************/

/********** MENU **********/
nav {
	background: rgba(0, 116, 178, 1);
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.menu {
	list-style-type: none;
	margin: 0;
	padding: 10px;
	font-size: 18px;
	min-height: 36px;
	line-height: 200%;
}
.menu > li {
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	border-right: 1px dashed #0a2b42;
}
.menu > li:last-child {
	border-right: 1px hidden #0a2b42;
}
.menu a {
	color: #fff;
	text-decoration: none;
}
.menu a:hover {
	color: #0a2b42;
	text-decoration: none;
}
/**************************/

.cover {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	height: 450px;
	/*padding: 150px;*/
	/*width: 950px;*/
}
#cover {
	background-image: url("img/me.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 100px;
}

/********** PANELS **********/
.panel {
	/*background-color: #222930;*/
	background-color: rgba(25, 29, 33, 0.7);
	/*rgba(25, 29, 33, 0.7);*/
	padding: 10px;
	text-align: justify;
	margin-top: 40px;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.panel_img {
	display: inline-block;
	margin-left: 30px;
	width: 110px;
}
.panel_img img {
	width: 90px;
	height: 90px;
	border: 3px solid #0a2b42;
}
.panel_text {
	display: inline-block;
	width: 750px;
	font-size: 15px;
}
/**************************/

/********** TAILS **********/
.tail {
	border-radius: 5px;
	width: 400px;
	padding: 10px;
	/*height: 350px;*/
	display: inline-block;
	margin: 20px;
	background-color: #222930;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tail img
{
	width: 300px;
}
/**************************/

/********** SOCIALS **********/
.socials {
	width:100%;
	text-align: center;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
.socials a {
	color: #ddd;
	text-decoration: none;
}
.social_tail {
	width: 250px;
	height: 155px;
	float:left;
}
.fb:hover {
	background-color: #4668b3;
}
.st:hover {
	background-color: #f48024;
}
.gh:hover {
	background-color: #24292e;
}
.in:hover {
	background-color: #0077b5;
}
/**************************/

/********** CONTACT **********/
input[type=text] {
	width: 300px;
	background-color: #efefef;
	color: #666;
	border: 2px solid #ddd;
	border-radius: 5px;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
}
textarea {
	width: 300px;
	background-color: #efefef;
	color: #666;
	border: 2px solid #ddd;
	border-radius: 5px;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
}
input[type=submit]:hover
{
	background-color: #0077b5;
	color: #fff;
}
input[type=submit] {
	width: 300px;
	background-color: #222930;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	font-size:20px;
	color: #fff;
	padding: 15px 10px;
	margin-top: 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}
#contact_form {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}
/**************************/