doctype html
html
  head
    title="Jakub Banaś"
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
    link(rel="stylesheet" href="/style.css") 
    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")

  body

    include pug/navigation

    main
        include pug/home
        include pug/about_me
        include pug/projects
        include pug/contact
        include pug/footer

        script(type="text/javascript" src="/script.js")