section#about_me
    div
        header.container
            h2 About me
            .row
                .col-md-4
                    img.avatar(src="/img/me.jpg")
                .col-md-8
                    h3 Hello, my name is Jakub, I'm software engineer
                    p.
                        I'm a programmer with two years of commercial experience.
                        In my work, I mainly focus on software architecture, I write good quality and testable code.

                        In my career, I worked on the development of CRM's, DMS's and Payment Management Service.
                        I'm familiar with REST API, MVC, microservices architecture.
                        I also a little experienced in dev ops, I know how to containerize service and maintain cloud solutions.

                        I'm fascinated by distributed architectures.