section#contact
    .container
        header
            h2 Get in touch
        .row
            .col-md-6
                h3 Text me
                form(action="#")
                    .form-row
                        .col-md-6
                            input(name="name",placeholder="name").form-control
                        .col-md-6
                            input(type="email", name="", placeholder="email").form-control
                    .form-row
                        .col
                            textarea(name="message", cols="30", rows="10", placeholder="message").form-control
                    button(type="submit").btn.btn-block.btn-outline-primary Wyślij
            .col-md-6
                h3 Follow me
                ul
                    li: a github
                    li: a linkedin
                    li: a facebook