section#home
    .jumbotron
        h1.display-4: strong Jakub Banaś
        p.lead.accent software engineer
        hr
        p: i "I have no special talent. I am only passionately curious."
            br 
            |~Albert Einstein