nav#navigation.navbar.navbar-expand-sm.navbar-dark.bg-dark
	a(href="#").navbar-brand.accent jakub banaś
	button(data-toggle="collapse",data-target="#navbar").navbar-toggler
		span.navbar-toggler-icon
	#navbar.collapse.navbar-collapse
		ul.navbar-nav
			li.nav-item: a(href="#home").nav-link Home
			li.nav-item: a(href="#about_me").nav-link About me
			li.nav-item: a(href="#projects").nav-link Projects
			li.nav-item: a(href="#contact").nav-link Get in touch