section#projects
    .container
        header
            h2 Projects
            .row
                .col-xl-6
                    .row
                        .col-md-6
                            .tile
                                h3 V-Desk
                                h6.accent with 
                                    a(target="_blank", href="http://primesoft.pl") Primesoft
                                img(src="img/vdesk.jpg")
                            .tile
                                h3 Kinguin Payment Service
                                h6.accent with 
                                    a(target="_blank", href="https://kinguin.net") Kinguin
                                img(src="img/kps.png")
                        .col-md-6
                            .tile
                                h3 Snake multiplayer
                                img(src="img/snake.png")
                            .tile
                                h3 Dangeon&Parcels
                                img(src="img/kps.png")
                .col-xl-6
                    .tile
                        h3 avocad.io
                        h6.accent TBA
                        img(src="img/avocadio.png")
