@import "includes/base";

#home {
    background-color: transparent;
}

#navigation {
    width: 100vw;
    position: fixed;
    z-index: 100;
}

.jumbotron {
    padding: 50px;
    margin: 50px;
    background-color: $primaryColorLightenTransparent;
    text-align: center;
}

.avatar {
    border-radius: 50%;
    box-shadow: 1px 1px 10px $primaryColor;
}

.tile {
    background-color: $primaryColorLighten;
    margin-bottom: 30px;
    padding: 5px;
    text-align: center;
    box-shadow: 1px 1px 10px $primaryColor;
}

.form-row {
    margin-bottom: 10px;
}