
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-angle-circled-up:before { content: '\f139'; } /* '' */
.icon-stackoverflow:before { content: '\f16c'; } /* '' */