$primaryColor: rgb(33, 33, 33);
$primaryColorLighten: lighten($primaryColor, 10%);
$primaryColorLightenTransparent: rgba($primaryColorLighten, .3);

$accentColor: lighten(rgb(0, 116, 178), 20%);
$textColor: rgb(255, 255, 255);

$theme-colors: (
  "primary": $accentColor,
  "danger": #ff4136
);

@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  font-family: 'Raleway', Arial, sans-serif, ;
  font-size: 100%;
  line-height: 2;
  background-color: $primaryColor;
  background-image: url('/img/bg.jpg');
  margin: 0;
  color: $textColor;
  text-align: justify;
}

h1,h2 {
  font-weight: 300;
  text-align: center;
  font-size: 60px;
  color: $accentColor;
}

section {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 100px;
  background-color: $primaryColorLightenTransparent;
  box-shadow: 1px 1px 10px $primaryColor;
}

img {
  max-width: 100%;
  max-height: 100%;
}

footer {
  background-color: $primaryColorLighten;
  margin-bottom: 0px;
  overflow: hidden;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.accent {
  color: $accentColor !important;
}

input,textarea {
  background-color: $primaryColorLightenTransparent !important;
}